spring:
  application:
    name: tara-login-service
  session:
    timeout: 300s
    servlet:
      filter-order: -2147483648

management:
  health:
    defaults:
      enabled: false
  info:
    git:
      mode: full
  endpoints:
    web:
      base-path: /
      exposure:
        exclude: "*"
        include: "heartbeat"
    jmx:
      exposure:
        exclude: "*"

ignite:
  ignite-instance-name: tara-ignite
  metrics-log-frequency: 300000
  discovery-spi:
    ip-finder:
      addresses:
        - 127.0.0.1
  ssl-context-factory:
    key-store-type: JKS
    key-store-file-path: /usr/local/tomcat/webapps/ROOT/WEB-INF/classes/tls-keystore.jks
    key-store-password: changeit
    trust-store-type: JKS
    trust-store-file-path: /usr/local/tomcat/webapps/ROOT/WEB-INF/classes/tls-truststore.jks
    trust-store-password: changeit
    protocol: TLSv1.2
    protocols:
      - TLSv1.2
    cipher-suites:
      - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
      - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
      - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
      - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384

tara:
  hydra-service:
    login-url: http://hydra:4445/oauth2/auth/requests/login
    accept-login-url: http://hydra:4445/oauth2/auth/requests/login/accept
    reject-login-url: http://hydra:4445/oauth2/auth/requests/login/reject
    accept-consent-url: http://hydra:4445/oauth2/auth/requests/consent/accept
    reject-consent-url: http://hydra:4445/oauth2/auth/requests/consent/reject
    health-url: http://hydra:4445/health/ready
    request-timeout-in-seconds: 1
    max-connections-total: 5

  eeid-service:
    api-token: 123345
    webauthn-login-url: http://localhost:3000/webauthn/credential_authentication/new
    webauthn-register-url: http://localhost:3000/webauthn/credentials/new
    request-timeout-in-seconds: 1
    max-connections-total: 10

  default-locale: et
  error-report-email: info@internet.ee

  alerts:
    enabled: false
    host-url: https://localhost:8080/alerts
    static-alert:
      message-templates[0]:
        message: "Tegemist on testkeskkonnaga ja autentimiseks vajalik info on <a href='https://internetee.github.io/eeID-DOC/#testing'>eeID dokumentatsioonis</a>!"
        locale: et
      message-templates[1]:
        message: "This is a test environment and necessary credentials for testing is available in <a href='https://internetee.github.io/eeID-DOC/#testing'>eeID documentation</a>!"
        locale: en
      message-templates[2]:
        message: "Это тестовая среда, и необходимые учетные данные для тестирования доступны в <a href='https://internetee.github.io/eeID-DOC/#testing'>документации eeID!</a>"
        locale: ru

  auth-methods:
    veriff:
      enabled: true
      level-of-assurance: HIGH
      client-url: http://manager:3000
      interval-between-session-status-queries-in-seconds: 5
      max-session-status-queries: 100
    webauthn:
      enabled: true
      level-of-assurance: HIGH
      client-url: http://manager:3000
    id-card:
      enabled: true
      site-origin: https://localhost:8081
      ocsp-enabled: false
      level-of-assurance: HIGH
      truststore-path: classpath:idcard-truststore-test.p12
      truststore-type: PKCS12
      truststore-password: changeit
      ocsp:
        - issuer-cn: TEST of ESTEID-SK 2015
          url: https://localhost:9877/esteid2015
          connect-timeout-in-milliseconds: 500

        - issuer-cn: TEST of ESTEID-SK2018
          url: http://aia.demo.sk.ee/esteid2018

      fallback-ocsp:
        - url: https://localhost:9877/ocsp
          issuer-cn: TEST of ESTEID-SK 2011, TEST of ESTEID-SK 2015, TEST of ESTEID2018
    mobile-id:
      enabled: true
      level-of-assurance: HIGH
      truststore-path: classpath:mobileid-truststore-test.p12
      truststore-type: PKCS12
      host-url: https://tsp.demo.sk.ee/mid-api
      relying-party-uuid: 00000000-0000-0000-0000-000000000000
      relying-party-name: DEMO
      display-text: EIS-TARA2
      truststore-password: changeit
      long-polling-timeout-seconds: 1
      connection-timeout-milliseconds: 5000
      read-timeout-milliseconds: 30000
      interval-between-session-status-queries-in-milliseconds: 3000
    smart-id:
      enabled: true
      host-url: https://sid.demo.sk.ee/smart-id-rp/v2/
      level-of-assurance: HIGH
      truststore-path: classpath:sid-truststore-test.p12
      truststore-type: PKCS12
      truststore-password: changeit
      relying-party-uuid: 00000000-0000-0000-0000-000000000000
      relying-party-name: DEMO
      display-text: EIS-TARA2
      delay-initiate-sid-session-in-milliseconds: 5000
      long-polling-timeout-milliseconds: 5000
      connection-timeout-milliseconds: 5000
      read-timeout-milliseconds: 30000
    eidas:
      enabled: true
      client-url: http://manager:3000
      environment: TEST
      refresh-countries-interval-in-milliseconds: 30000 #300000
      request-timeout-in-seconds: 5
      read-timeout-in-seconds: 5
      relay-state-cache-duration-in-seconds: 30

  legal-person-authentication:
    enabled: false
    x-road-server-url: https://localhost:9877/cgi-bin/consumer_proxy

    x-road-service-instance: ee-dev
    x-road-service-member-class: GOV
    x-road-service-member-code: 70000310
    x-road-service-subsystem-code: arireg

    x-road-client-subsystem-instance: ee-dev
    x-road-client-subsystem-member-class: GOV
    x-road-client-subsystem-member-code: 70006317
    x-road-client-subsystem-code: idp

    x-road-server-read-timeout-in-milliseconds: 1000
    x-road-server-connect-timeout-in-milliseconds: 1000


  tls:
    trust-store-location: classpath:tls-truststore.jks
    trust-store-password: changeit
    trust-store-type: jks
    default-protocol: TLSv1.3
    enabled-protocols:
      - TLSv1.2
      - TLSv1.3
    enabled-cipher-suites:
      - TLS_AES_128_GCM_SHA256
      - TLS_AES_256_GCM_SHA384
      - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
      - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
      - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
      - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384

  content-security-policy: "default-src 'self' *.veriff.me *.veriff.com; script-src 'self' *.veriff.me *.veriff.com *.hotjar.com *.probity.io; img-src 'self' blob: 'self' *.probity.io data:; frame-src 'self' *.veriff.me *.veriff.com *.hotjar.com; connect-src 'self' *.veriff.com *.veriff.me *.probity.io; style-src 'self' *.veriff.com *.veriff.me; font-src 'self' *.veriff.me *.veriff.com data:; base-uri 'none'; frame-ancestors 'none'; block-all-mixed-content"
