.c-btn {
  /* display: inline-block; */
  padding: 11px 35px;
  font-weight: 500;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  @media (max-width: $breakpoint-mobile) {
    /* display: block; */
    width: 100%;
    padding: 12px 35px;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &.hidden {
    display: none;
  }
  &--secondary {
    color: #000;
    border: 2px solid #7c7f82;
    background-color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    height: 45px;
    width: 200px;
    &:hover {
      border-color: darken( #7c7f82, 10% );
    }
  }
  &--secondary {
    color: #000;
    border: 2px solid #7c7f82;
    background-color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    height: 45px;
    width: 200px;
    &:hover {
      border-color: darken( #7c7f82, 10% );
    }
  }
  &--primary {
    color: #fff;
    background-color: #008936;
    border: 2px solid #008936;
    &:hover {
      background-color: darken( #008936, 5% );
      border-color: darken( #008936, 5% );
    }
  }
  &--primary:disabled, &--primary[disabled] {
    cursor: default;
    background-color: #cccccc;
    color: #666666;
    border: 2px solid #cccccc;
  }
  &--cancel {
    color: #344255;
    background-color: #ffffff;
    border: 2px solid #344255;
    &:hover {
      color: #fff;
      background-color: #344255;
    }
  }
  &--cancel:disabled, &--cancel[disabled] {
    cursor: default;
    color: #aaaaaa;
    background-color: #ffffff;
    border: 2px solid #aaaaaa;
  }
  &--from-link {
	text-decoration: none;
	text-align: center;
  }
}
.method-btn{
  display: block;
  font-size: 16px;
  width: 100%;
  color: #3a3a3a;
  text-decoration: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transform: translateY(0);
  transition: .1s;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  height: 45px;
  user-select: none;
  background-color: #fff;
  min-width: 211px;
  overflow: hidden;
  margin-bottom: 5px;
  &:hover {
    border: 2px solid #344255;
  }
}
.method-btn-base {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.method-btn-icon {
  width: auto;
  height: 28px;
}