<div class="container" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="alert alert-neutral">
        <h2 th:utext="#{label.consent-header}"></h2>
        <table>
            <tr>
                <th th:utext="#{label.natural-person.id-code}"></th>
                <td th:text="${idCode}">Personal ID-code</td>
            </tr>
            <tr>
                <th th:utext="#{label.natural-person.surname}"></th>
                <td th:text="${lastName}">Surname</td>
            </tr>
            <tr>
                <th th:utext="#{label.natural-person.given-name}"></th>
                <td th:text="${firstName}">Givenname</td>
            </tr>
            <tr>
                <th th:utext="#{label.natural-person.date-of-birth}"></th>
                <td th:text="${#temporals.format(dateOfBirth, 'dd.MM.yyyy')}">Date of birth</td>
            </tr>
        </table>
        <form method="POST" th:action="@{/auth/consent/confirm(consent_given=true)}">
            <button type="submit" name="submit" value="value" class="link-button">ACCEPT</button>
        </form>
        <form method="POST" th:action="@{/auth/consent/confirm(consent_given=false)}">
            <button type="submit" name="submit" value="value" class="link-button">REJECT</button>
        </form>
    </div>
</div>