<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="c-tab-login__content-wrap">
        <div class="c-tab-login__content-icon">
            <!-- Left side icon space -->
        </div>
        <div class="c-tab-login__content-text">
            <div aria-level="2" role="heading">
                <h2 th:utext="${#strings.isEmpty(serviceName) ? #messages.msg('label.consent.header') : #messages.msg('label.consent.header-with-short-name', serviceName)}"></h2>
            </div>
            <p th:utext="${#strings.isEmpty(serviceName) ? #messages.msg('label.consent.information') : #messages.msg('label.consent.information-with-short-name', serviceName)}"></p>
            <div class="row data-table">
                <div class="personal-info">
                    <div class="personal-info-label" th:utext="#{label.natural-person.given-name}"></div>
                    <div class="personal-info-value" id="natural-person-given-name" th:text="${firstName}"
                         translate="no"></div>
                    <div class="personal-info-label" th:utext="#{label.natural-person.surname}"></div>
                    <div class="personal-info-value" id="natural-person-surname" th:text="${lastName}"
                         translate="no"></div>
                </div>
                <div class="personal-info">
                    <div class="personal-info-label" th:utext="#{label.natural-person.id-code}"></div>
                    <div class="personal-info-value" id="natural-person-id-code" th:text="${idCode}"
                         translate="no"></div>
                    <div class="personal-info-label" th:utext="#{label.natural-person.date-of-birth}"></div>
                    <div class="personal-info-value" id="natural-person-date-of-birth"
                         th:text="${#prettyDates.date(dateOfBirth)}" translate="no"></div>
                </div>

                <div class="personal-info" th:if="${email != null}">
                    <div class="personal-info-label" th:utext="#{label.natural-person.email}"></div>
                    <div class="personal-info-value" id="email" th:text="${email}" translate="no"></div>
                </div>
                <div class="personal-info" th:if="${phoneNumber != null}">
                    <div class="personal-info-label" th:utext="#{label.natural-person.phone}"></div>
                    <div class="personal-info-value" id="phone-number" th:text="${phoneNumber}"
                         translate="no"></div>
                </div>

                <div class="personal-info" th:if="${legalPersonName != null}">
                    <div class="personal-info-label" th:utext="#{label.legal-person.legal-person-name}"></div>
                    <div class="personal-info-value" id="legal-person-name" th:text="${legalPersonName}"
                         translate="no"></div>
                </div>
                <div class="personal-info" th:if="${legalPersonRegistryCode != null}">
                    <div class="personal-info-label" th:utext="#{label.legal-person.legal-person-identifier}"></div>
                    <div class="personal-info-value" id="legal-person-identifier"
                         th:text="${legalPersonRegistryCode}"
                         translate="no"></div>
                </div>
            </div>
            <form class="consent-button c-form" method="POST"
                  th:action="@{/auth/consent/confirm(consent_given=true)}">
                <button class="c-btn c-btn--primary" name="submit" th:text="#{label.consent.accept}" type="submit"
                        value="value">ACCEPT
                </button>
            </form>
            <form class="consent-button c-form" method="POST"
                  th:action="@{/auth/consent/confirm(consent_given=false)}">
                <button class="c-btn c-btn--cancel" name="submit" th:text="#{label.consent.reject}" type="submit"
                        value="value">REJECT
                </button>
            </form>
        </div>
    </div>
</div>
