<div class="container" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="alert alert-neutral">
        <h2 th:utext="#{label.consent.header}"></h2>
        <table class="consent-table">
            <tr>
                <th class="consent-table-row"><b th:utext="#{label.natural-person.id-code}"></b></th>
                <td id="natural-person-id-code" th:text="${idCode}">Personal ID-code</td>
            </tr>
            <tr>
                <th class="consent-table-row"><b th:utext="#{label.natural-person.surname}"></b></th>
                <td id="natural-person-surname" th:text="${lastName}">Surname</td>
            </tr>
            <tr>
                <th class="consent-table-row"><b th:utext="#{label.natural-person.given-name}"></b></th>
                <td id="natural-person-given-name" th:text="${firstName}">Givenname</td>
            </tr>
            <tr>
                <th class="consent-table-row"><b th:utext="#{label.natural-person.date-of-birth}"></b></th>
                <td id="natural-person-date-of-birth" th:text="${#temporals.format(dateOfBirth, 'dd.MM.yyyy')}">Date of
                    birth
                </td>
            </tr>
            <tr th:if="${email != null}">
                <th class="consent-table-row"><b th:utext="#{label.natural-person.email}"></b></th>
                <td id="email" th:text="${email}">E-Mail</td>
            </tr>
            <tr th:if="${phoneNumber != null}">
                <th class="consent-table-row"><b th:utext="#{label.natural-person.phone}"></b></th>
                <td id="phone-number" th:text="${phoneNumber}">Phone number</td>
            </tr>
            <tr th:if="${legalPersonName != null}">
                <th class="consent-table-row"><b th:utext="#{label.legal-person.legal-person-name}"></b></th>
                <td id="legal-person-name" th:text="${legalPersonName}">Legal person name</td>
            </tr>
            <tr class="consent-table-row" th:if="${legalPersonRegistryCode != null}">
                <th class="consent-table-row"><b th:utext="#{label.legal-person.legal-person-identifier}"></b></th>
                <td id="legal-person-identifier" th:text="${legalPersonRegistryCode}">Legal person registry code</td>
            </tr>
        </table>
        <br>
        <p th:utext="${#messages.msg('label.consent.information', @thymeleafSupport.getServiceName())}"></p>
        <br>
        <form method="POST" th:action="@{/auth/consent/confirm(consent_given=true)}" class="consent-button c-form">
            <button th:text="#{label.consent.accept}" type="submit" name="submit" value="value"
                    class="c-btn c-btn--primary">ACCEPT
            </button>
        </form>
        <form method="POST" th:action="@{/auth/consent/confirm(consent_given=false)}" class="consent-button c-form">
            <button th:text="#{label.consent.reject}" type="submit" name="submit" value="value"
                    class="c-btn c-btn--cancel">REJECT
            </button>
        </form>
    </div>
</div>