<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="alert alert-error" role="alert">
        <div><strong><span th:class="error-title" th:text="#{message.error.auth.title}" th:remove="tag"></span></strong>
        </div>
        <div id="error-message"></div>
        <div id="idc-ajax-error-message" class="hidden aria-hidden" th:utext="#{message.idc.ajax-error}"></div>
        <div id="error-incident-number-wrapper">
            <span th:utext="#{label.error.incident-number('')}"></span>
            <span id="error-incident-number"></span>
        </div>
        <div><a id="error-report-url"
              th:href="#{label.error.error-report-content(${@thymeleafSupport.getErrorReportEmail()},'{1}','{2}','{3}','{4}','{5}')}"
              th:text="#{label.error.error-report-link}">Send error report</a>
        </div>
        <div>
            <span id="error-report-notification" class="hidden"
                  th:utext="#{label.error.error-report-notification(${@thymeleafSupport.getErrorReportEmail()})}"/>
        </div>
    </div>
    <div th:if="${@thymeleafSupport.getBackUrl() != '#'}" class="link-back">
        <a th:href="${@thymeleafSupport.getBackUrl()}" th:text="#{label.common.back}">Back</a>
    </div>
</div>
