<script src="/scripts/legalperson.js" defer></script>
<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <noscript>
        <div class="alert alert-error">
            <p><strong th:utext="#{message.warning.noscript}"></strong></p>
        </div>
        <br>
    </noscript>
    <div class="c-tab-login__content is-active" data-tab="legalperson" aria-hidden="false">
        <div class="alert alert-neutral">

            <h2 th:utext="#{label.legal-person-representative}">Header</h2>
            <table>
                <tr>
                    <th th:utext="#{label.natural-person.id-code}"></th>
                    <td id="legal-person-representative-id-code" th:text="${idCode}">Personal ID-code</td>
                </tr>
                <tr>
                    <th th:utext="#{label.natural-person.surname}"></th>
                    <td id="legal-person-representative-last-name" th:text="${lastName}">Surname</td>
                </tr>
                <tr>
                    <th th:utext="#{label.natural-person.given-name}"></th>
                    <td id="legal-person-representative-given-name" th:text="${firstName}">Givenname</td>
                </tr>
                <tr>
                    <th th:utext="#{label.natural-person.date-of-birth}"></th>
                    <td id="legal-person-representative-date-of-birth" th:text="${#temporals.format(dateOfBirth, 'dd.MM.yyyy')}">Date of birth</td>
                </tr>
            </table>

            <hr>

            <h2 th:utext="#{label.legal-person.h2}"></h2>


            <div th:if="${session.containsKey('authentication')}">
                <div id="results-container" class="alert alert-neutral">
                                <span id="results-loading" class="hidden">
                                    <div class="loadersmall"></div>
                                    <div th:utext="#{label.legal-person.loading}"></div>
                                </span>
                    <span id="results-summary" class="hidden">
                                    <div th:utext="#{label.legal-person.loading-result}"></div>
                                    <br>
                                </span>
                    <ul id="results-legal-person-list"></ul>
                </div>
                <div id="error-results-container" class="alert alert-error hidden">
                    <p id="error-no-results" class="hidden" th:utext="#{label.legal-person.error.no-results}"></p>
                    <p id="error-service-not-available" class="hidden" th:utext="#{label.legal-person.error.service-not-available}"></p>
                    <p id="error-technical-problem" class="hidden" th:utext="#{label.legal-person.error.internal-service-error}"></p>
                </div>
                <form method="POST" th:action="@{/auth/legal_person/confirm}" class="c-form" id="selectLegalPerson">
                    <input type="hidden" name="legal_person_identifier" value=""/>
                    <button type="submit" class="c-btn c-btn--primary hidden" id="btn-select-legal-person" th:utext="#{label.common.login}"></button>
                </form>
            </div>

            <br>

            <div id="error-controls-container" class="hidden">
                <p class="link-back"><a th:href="${'/auth/init?login_challenge=' + login_challenge}" th:utext="#{label.common.back}"></a></p>
            </div>
        </div>
        <div class="c-tab-login__footer">
            <p><a th:href="${@thymeleafSupport.getHomeUrl()}" th:text="#{label.common.home}">Home</a></p>
        </div>
    </div>
</div>