<li class="c-tab-login__nav-item hide-on-mobile" aria-selected="false" th:fragment="nav_default(tab_id)"
    th:classappend="${static} ? is-active : ''" xmlns:th="http://www.w3.org/1999/xhtml">
    <span th:classappend="${static} ? '' : c-tab-login__nav-back-link"></span>
    <th:block th:switch="${tab_id}">
        <th:block th:case="id-card"><a th:replace="~{fragments/logintabs :: nav_default_link(${tab_id}, '')}"/>
        </th:block>
        <th:block th:case="mobile-id"><a
                th:replace="~{fragments/logintabs :: nav_default_link(${tab_id}, __${#locale}__ == 'ru' ? 'et' : '')}"/>
        </th:block>
        <th:block th:case="smart-id"><a th:replace="~{fragments/logintabs :: nav_default_link(${tab_id}, 'en')}"/>
        </th:block>
        <th:block th:case="eu-citizen"><a th:replace="~{fragments/logintabs :: nav_default_link(${tab_id}, 'en')}"/>
        </th:block>
    </th:block>
</li>

<a th:fragment="nav_default_link(tab_id, lang)"
   xmlns:th="http://www.w3.org/1999/xhtml"
   class="c-tab-login__nav-link"
   href="#"
   th:lang="${lang}"
   th:data-tab="${tab_id}">
    <span class="c-tab-login__nav-label">
        <span th:text="${#messages.msg('label.' + tab_id + '.title')}" th:remove="tag">Tab</span>
    </span>
</a>

<div layout:fragment="content(tab_id)" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="c-tab-login__content" th:classappend="${static} ? is-active : ''" th:data-tab="${tab_id}">
        <br th:if="${not #lists.isEmpty(alerts)}">
        <div class="c-header__mobile" xmlns:th="http://www.w3.org/1999/xhtml">
            <div class="container">
                <div class="c-header__logo">
                    <div class="c-header__logo-link">
                        <img th:src="#{logo.header.tara}" aria-hidden="true" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="logo-separator-mobile"></div>
        <div class="c-tab-login__content-wrap">
            <div class="c-tab-login__content-icon" aria-hidden="true">
                <img id="client-logo" class="icon" th:if="${@thymeleafSupport.getServiceLogo() != null}" th:src="${'data:image/svg+xml;base64,' + @thymeleafSupport.getServiceLogo()}">
            </div>
            <div class="c-tab-login__content-text">
                <div role="heading" aria-level="2">
                    <h2 th:utext="${#messages.msg('label.' + tab_id + '.' + (title ?: 'title'))}"></h2>
                </div>
                <p th:utext="${#strings.isEmpty(instruction) ? #messages.msg('label.' + tab_id + '.' + (#strings.isEmpty(@thymeleafSupport.getServiceName()) ? 'instruction' : 'instruction-with-short-name'), @thymeleafSupport.getServiceName()) : #messages.msg('label.' + tab_id + '.' + instruction)}"></p>
                <form role="form" layout:fragment="login-form-content"></form>
            </div>
        </div>
        <div class="c-tab-login__footer">
            <p><a th:href="${@thymeleafSupport.getHomeUrl()}" th:text="#{label.common.home}">Home</a></p>
            <p th:if="${#messages.msgOrNull('label.' + tab_id + '.help') != null}">
                <a th:href="${#messages.msg('link.' + tab_id + '.help')}"
                   th:text="${#messages.msg('label.' + tab_id + '.help')}" target="_blank" rel="noopener">Help</a>
            </p>
        </div>
    </div>
</div>

<div layout:fragment="warning(tab_id, alerts)" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div th:if="${not #lists.isEmpty(alerts)}" class="c-tab-login__warning" th:classappend="${static} ? is-active : ''"
         th:data-tab="${tab_id}">
        <div class="alert alert-warning">
            <ul>
                <li th:each="alert : ${alerts}">
                    <span th:if="${alert.isLoadedFromConf()}"
                          th:utext="${alert.getAlertMessage(#locale.language)}"
                          class="c-tab-login__warning-item"></span>
                    <span th:unless="${alert.isLoadedFromConf()}"
                          th:text="${alert.getAlertMessage(#locale.language)}"
                          class="c-tab-login__warning-item"></span>
                </li>
            </ul>
        </div>
        <br>
    </div>
</div>
