<div class="container" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <noscript>
        <div class="alert alert-error" role="alert">
            <p><strong th:utext="#{message.warning.noscript}"></strong></p>
        </div>
        <br>
    </noscript>

    <div th:with="activeAlerts=${@thymeleafSupport.getActiveAlerts()}">
        <div class="c-tab-login__static-warning">
            <th:block th:remove="tag" aria-hidden="true">
                <div th:if="${@thymeleafSupport.hasStaticAlert()}" class="alert alert-warning">
                    <ul>
                        <li th:each="alert : ${activeAlerts}">
                            <span th:if="${alert.isLoadedFromConf()}"
                                  th:utext="${alert.getAlertMessage(#locale.language)}"
                                  class="c-tab-login__warning-item"></span>
                        </li>
                    </ul>
                </div>
            </th:block>
        </div>
        <th:block
                th:if="${@thymeleafSupport.isAuthMethodAllowed(T(ee.ria.taraauthserver.config.properties.AuthenticationType).ID_CARD)}"
                th:remove="tag"
                layout:insert="~{fragments/logintabs :: warning('id-card', ${activeAlerts.?[isValidFor(T(ee.ria.taraauthserver.config.properties.AuthenticationType).ID_CARD)]})}"
                aria-hidden="true" aria-labelledby="id-card">
        </th:block>
        <th:block
                th:if="${@thymeleafSupport.isAuthMethodAllowed(T(ee.ria.taraauthserver.config.properties.AuthenticationType).MOBILE_ID)}"
                th:remove="tag"
                layout:insert="~{fragments/logintabs :: warning('mobile-id', ${activeAlerts.?[isValidFor(T(ee.ria.taraauthserver.config.properties.AuthenticationType).MOBILE_ID)]})}"
                aria-hidden="true" aria-labelledby="mobile-id">
        </th:block>
        <th:block
                th:if="${@thymeleafSupport.isAuthMethodAllowed(T(ee.ria.taraauthserver.config.properties.AuthenticationType).SMART_ID)}"
                th:remove="tag"
                layout:insert="~{fragments/logintabs :: warning('smart-id', ${activeAlerts.?[isValidFor(T(ee.ria.taraauthserver.config.properties.AuthenticationType).SMART_ID)]})}"
                aria-hidden="true" aria-labelledby="smart-id">
        </th:block>
        <th:block
                th:if="${@thymeleafSupport.isAuthMethodAllowed(T(ee.ria.taraauthserver.config.properties.AuthenticationType).EIDAS)}"
                th:remove="tag"
                layout:insert="~{fragments/logintabs :: warning('eu-citizen', ${activeAlerts.?[isValidFor(T(ee.ria.taraauthserver.config.properties.AuthenticationType).EIDAS)]})}"
                aria-hidden="true" aria-labelledby="eu-citizen">
        </th:block>
    </div>

    <div class="c-tab-login">
        <nav role="navigation" class="c-tab-login__header"
             th:aria-label="#{label.aria.authentication-method.navigation}">
            <ul class="c-tab-login__nav">
                <th:block
                        th:if="${@thymeleafSupport.isAuthMethodAllowed(T(ee.ria.taraauthserver.config.properties.AuthenticationType).ID_CARD)}">
                    <li th:replace="~{fragments/logintabs :: nav_default('id-card')}"></li>
                </th:block>
                <th:block
                        th:if="${@thymeleafSupport.isAuthMethodAllowed(T(ee.ria.taraauthserver.config.properties.AuthenticationType).MOBILE_ID)}">
                    <li th:replace="~{fragments/logintabs :: nav_default('mobile-id')}"></li>
                </th:block>
                <th:block
                        th:if="${@thymeleafSupport.isAuthMethodAllowed(T(ee.ria.taraauthserver.config.properties.AuthenticationType).SMART_ID)}">
                    <li th:replace="~{fragments/logintabs :: nav_default('smart-id')}"></li>
                </th:block>
                <th:block
                        th:if="${@thymeleafSupport.isAuthMethodAllowed(T(ee.ria.taraauthserver.config.properties.AuthenticationType).EIDAS)}">
                    <li th:replace="~{fragments/logintabs :: nav_default('eu-citizen')}"></li>
                </th:block>
            </ul>
        </nav>
        <main role="main" class="c-tab-login__main">
            <div th:if="${@thymeleafSupport.isAuthMethodAllowed(T(ee.ria.taraauthserver.config.properties.AuthenticationType).ID_CARD)}"
                 layout:insert="~{fragments/logintabs :: content('id-card')}" th:remove="tag"
                 aria-hidden="true" aria-labelledby="id-card">
                <form role="form" th:action="@{/auth/accept}" method="post" id="idCardForm" class="c-form"
                      layout:fragment="login-form-content">
                    <button role="button" type="button" class="c-btn c-btn--primary" th:text="#{label.common.login}">
                        Login
                    </button>
                    <div class="alert alert-error alert-popup" aria-hidden="true">
                        <div>
                            <strong>
                                <span id="error-message-title" th:text="#{message.idc.certificate-failed}"/>
                            </strong>
                        </div>
                        <span id="error-message" th:text="#{message.idc.does-id-card-exist}"/>
                        <div id="error-incident-number-wrapper">
                            <label th:text="#{label.error.incident-number('')}" for="error-incident-number"></label>
                            <span id="error-incident-number"></span>
                        </div>
                        <div>
                            <a id="error-report-url"
                               th:href="#{label.error.error-report-content(${@thymeleafSupport.getErrorReportEmail()})}"
                               th:text="#{label.error.error-report-link}">Edasta veakirjeldus</a>
                        </div>
                        <div>
                            <span id="error-report-notification" class="hidden"
                                  th:utext="#{label.error.error-report-notification(${@thymeleafSupport.getErrorReportEmail()})}"/>
                        </div>
                        <button role="button" class="close" th:aria-label="#{label.alert.close}" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span></button>
                    </div>
                </form>
            </div>

            <div th:if="${@thymeleafSupport.isAuthMethodAllowed(T(ee.ria.taraauthserver.config.properties.AuthenticationType).MOBILE_ID)}"
                 layout:insert="~{fragments/logintabs :: content('mobile-id')}" th:remove="tag"
                 aria-hidden="true" aria-labelledby="mobile-id">
                <form role="form" th:action="@{/auth/mid/init}" method="post" id="mobileIdForm" class="c-form"
                      layout:fragment="login-form-content">
                    <table>
                        <tbody>
                        <tr>
                            <td class="col-label">
                                <label for="mid-personal-code" class="form-label"
                                       th:text="#{label.common.personal-code}"></label>
                            </td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="personal-code-prefix input-group-text"
                                              th:text="#{label.mobile-id.personal-code-prefix}"></span>
                                    </div>
                                    <input type="number" inputmode="decimal" id="mid-personal-code" class="form-control"
                                           name="idCode">
                                </div>
                                <div class="invalid-feedback is-hidden"
                                     th:text="#{message.common.personal-code-missing}"></div>
                                <div class="invalid-feedback is-hidden"
                                     th:text="#{message.common.personal-code-invalid}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-label">
                                <label for="mid-phone-number" class="form-label"
                                       th:text="#{label.common.phone-number}"></label>
                            </td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="phone-number-prefix input-group-text"
                                              th:text="#{label.mobile-id.phone-number-prefix}"></span>
                                    </div>
                                    <input type="tel" maxlength="15" id="mid-phone-number" class="form-control"
                                           name="telephoneNumber">
                                </div>
                                <input type="hidden" id="mid-country-code"
                                       class="country-code" name="countryCode" th:value="#{label.mobile-id.personal-code-prefix}"/>
                                <input type="hidden" id="mid-phone-number-prefix"
                                       name="phoneNumberPrefix" th:value="#{label.mobile-id.phone-number-prefix}"/>
                                <div class="invalid-feedback is-hidden"
                                     th:text="#{message.common.phone-number-missing}"></div>
                                <div class="invalid-feedback is-hidden"
                                     th:text="#{message.common.phone-number-invalid}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button role="button" type="button" class="c-btn c-btn--primary"
                                        th:text="#{label.common.login}">Login
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div th:if="${@thymeleafSupport.isAuthMethodAllowed(T(ee.ria.taraauthserver.config.properties.AuthenticationType).SMART_ID)}"
                 layout:insert="~{fragments/logintabs :: content('smart-id')}" th:remove="tag"
                 aria-hidden="true" aria-labelledby="smart-id">
                <form role="form" th:action="@{/auth/sid/init}" method="post" id="smartIdForm" class="c-form"
                      layout:fragment="login-form-content">
                    <table>
                        <tbody>
                        <tr>
                            <td class="col-label">
                                <label for="sid-personal-code" class="form-label"
                                       th:text="#{label.common.personal-code}"></label>
                            </td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="personal-code-prefix input-group-text"
                                              th:text="#{label.smart-id.personal-code-prefix}"></span>
                                    </div>
                                    <input type="text" inputmode="text" maxlength="12" id="sid-personal-code"
                                           class="form-control" name="idCode"/>
                                </div>
                                <input type="hidden" id="sid-country-code"
                                       class="country-code" name="countryCode" th:value="#{label.smart-id.personal-code-prefix}"/>
                                <div class="invalid-feedback is-hidden"
                                     th:text="#{message.common.personal-code-missing}"></div>
                                <div class="invalid-feedback is-hidden"
                                     th:text="#{message.common.personal-code-invalid}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button role="button" type="button" class="c-btn c-btn--primary"
                                        th:text="#{label.common.login}">Login
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div th:if="${@thymeleafSupport.isAuthMethodAllowed(T(ee.ria.taraauthserver.config.properties.AuthenticationType).EIDAS)}"
                 layout:insert="~{fragments/logintabs :: content(tab_id = 'eu-citizen', title = 'title-long')}"
                 th:remove="tag"
                 aria-hidden="true" aria-labelledby="eu-citizen">
                <form role="form" method="post" id="eidasForm" th:action="@{/auth/eidas/init}" class="c-form"
                      layout:fragment="login-form-content" th:with="countries_with_methods=${@thymeleafSupport.getHashOfCountriesWithMethods()}">
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <select id="country-select" name="country" th:attr="data-methods=${@thymeleafSupport.toJSON(countries_with_methods)}">
                                    <option value="" th:text="#{label.eu-citizen.select-country}">Select</option>
                                    <option th:each="country : ${@thymeleafSupport.getListOfCountries(countries_with_methods)}"
                                            th:value="${country}"
                                            th:text="${#messages.msg('label.countries.' + country)}"></option>
                                </select>
                                <div class="invalid-feedback is-hidden"
                                     th:text="#{message.eu-citizen.select-country}"></div>
                                <input type="text" id="method-input" name="method" value="" class="hidden"/>
                            </td>
                        </tr>
                        <tr>
                            <td id="login-form-methods"></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </main>
    </div>
</div>
<p class="link-back-mobile" xmlns:th="http://www.w3.org/1999/xhtml">
    <a th:href="${@thymeleafSupport.getHomeUrl()}" th:text="#{label.common.home}">Home</a>
</p>
<script th:src="@{/scripts/main.js}" defer></script>

