<th:block xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:insert="~{fragments/logintabs :: content('smart-id')}"
          aria-hidden="true" aria-labelledby="smart-id">
    <th:block layout:fragment="login-form-content"
              th:with="serviceName=${@thymeleafSupport.getServiceName()}, sidWeb2AppPollInterval=${@thymeleafSupport.getSidWeb2AppFrontendPollingIntervalInMilliseconds()}">
        <!--/* The content of this element is managed by `sid-view-manager.js` */-->
        <div data-sid-login-form class="hidden">
            <div data-sid-login-form-view="init">
                <div data-sid-login-form-component="primary-qrCode"
                     class="c-form">
                    <p th:utext="${#messages.msg('label.smart-id.' + (#strings.isEmpty(serviceName) ? 'instruction-desktop' : 'instruction-desktop-with-short-name'), serviceName)}"></p>
                    <div>
                        <button type=submit form="sidQrCodeForm" class="c-btn c-btn--primary"
                                th:text="#{label.common.login}"></button>
                    </div>
                </div>
                <div data-sid-login-form-component="primary-web2app"
                     class="c-form">
                    <p th:utext="${#messages.msg('label.smart-id.' + (#strings.isEmpty(serviceName) ? 'instruction-mobile' : 'instruction-mobile-with-short-name'), serviceName)}"></p>
                    <div id="sidWeb2AppLinkContainer" th:if="${enabledAuthMethods.smartIdFlows.web2app}"
                         th:attr="data-sid-web2app-poll-interval=${sidWeb2AppPollInterval}">
                        <button id="sidWeb2AppLink" class="c-btn c-btn--primary" th:text="#{label.common.login}"></button>
                    </div>
                </div>
                <div data-sid-login-form-component="secondaries">
                    <div data-sid-login-form-component="secondary-qrCode">
                        <hr class="card-divider">
                        <h4 th:utext="#{label.smart-id.qr-code.account-in-another-device}"></h4>
                        <button type="submit" form="sidQrCodeForm" class="btn-link btn-link__next"
                                th:text="#{label.smart-id.qr-code.show}"></button>
                    </div>
                </div>
            </div>
            <hr class="card-divider hide-in-desktop">
            <form id="sidQrCodeForm" method="POST" th:action="@{/auth/sid/qr-code/init}"></form>
        </div>
    </th:block>
</th:block>
