<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:replace="~{fragments/loader :: loader(id='sid-web2app-loader', textId=null, textKey=null, isFullPage=true)}"></div>
    <div class="c-tab-login__content-wrap">
        <div class="c-tab-login__content-icon" aria-hidden="true">
            <img id="client-logo-wait" th:if="${@thymeleafSupport.getServiceLogo() != null}" class="icon" th:alt="#{label.logo.client}">
        </div>
        <div class="c-tab-login__content-wait">
            <div role="heading" aria-level="2">
                <h2 th:utext="${#messages.msg('label.smart-id.title')}"></h2>
            </div>
            <div id="sid-web2app-wait-login">
                <p th:utext="${#messages.msg('label.smart-id.wait-login')}"></p>
                <div th:replace="~{fragments/loader :: loader(id='sid-web2app-inner-loader', textId=null, textKey=null, isFullPage=false)}"></div>
                <p th:utext="${#messages.msg('label.smart-id.wait-login-details', @thymeleafSupport.getServiceName())}"></p>
                <form method="post" th:action="@{/auth/sid/web2app/poll/cancel}" class="c-form">
                    <button type="submit" class="c-btn c-btn--cancel" th:text="#{label.common.cancel}"></button>
                </form>
            </div>
            <p id="sid-web2app-login-success" th:utext="${#messages.msg('label.smart-id.success-close-window')}" class="hidden" aria-hidden="true"></p>
        </div>
    </div>
</div>
