<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:lang="${#locale.language}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" th:with="hideHeaderLanguageSelection=true">
<head th:replace="~{fragments/head}"></head>
<body>
<div layout:fragment="content" th:with="hideHeaderLanguageSelection=true" th:remove="tag">
    <div class="container">
        <div class="alert alert-error" role="alert">
            <p><strong><span th:text="#{message.error.auth.title}" th:remove="tag"></span></strong></p>
            <p th:if="${message != null}" th:text="${message}"></p>
            <p th:unless="${message != null}" th:text="#{message.error.general}"></p>
            <p th:if="${incident_nr != null && reportable == true}" th:text="#{label.error.incident-number(${incident_nr})}"></p>
            <p th:if="${incident_nr != null && reportable == true}"><a id="error-report-url" class="mailto-link"
                                                 th:href="#{label.error.error-report-content(${@thymeleafSupport.getErrorReportEmail()},${message},${incident_nr})}"
                                                 th:text="#{label.error.error-report-link}">Send error report</a></p>
            <p th:if="${incident_nr != null}" id="error-report-notification" class="hidden"
               th:text="#{label.error.error-report-notification(${@thymeleafSupport.getErrorReportEmail()}, ${incident_nr})}"></p>
        </div>
        <p th:if="${login_challenge != null}" class="link-back">
            <a th:href="'/auth/init?login_challenge=' + ${login_challenge}" th:text="#{label.common.back}">Back</a>
        </p>
    </div>
    <script th:src="@{/scripts/main.js}" defer></script>
</div>
</body>
</html>