<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout" th:with="hideHeaderLanguageSelection=true">
<head th:replace="~{fragments/head}"></head>
<body>
<div layout:fragment="content" th:with="hideHeaderLanguageSelection=true" th:remove="tag">
    <div class="container">
        <div class="alert alert-error" role="alert">
            <p><strong><span th:text="#{message.error.auth.title}" th:remove="tag"></span></strong></p>
            <p th:if="${message != null}" th:utext="${message}"></p>
            <p th:unless="${message != null}" th:utext="#{message.error.auth.error}"></p>
            <p th:if="${incident_nr != null}" th:utext="#{label.error.incident-number(${incident_nr})}"></p>
        </div>
    </div>
</div>
</body>
</html>