<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:lang="${#locale.language}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" th:with="hideHeaderLanguageSelection=true, ariaHideLogoHeader=true">
<head th:replace="~{fragments/head}"></head>
<body class="is-mobile-subview"
      th:attr="data-check-form-refresh-rate=${@environment.getProperty('tara.auth-methods.mobile-id.interval-between-session-status-queries-in-milliseconds')}">
<div layout:fragment="content" th:with="hideHeaderLanguageSelection=true" th:remove="tag">
    <div class="container">
        <div class="c-tab-login">
            <div class="c-tab-login__header hide-in-desktop">
                <ul class="c-tab-login__nav" role="tablist">
                    <li th:replace="~{fragments/logintabs :: nav_default(tab_id = 'mobile-id', static = true)}"></li>
                </ul>
            </div>
            <div class="c-tab-login__main">
                <div layout:insert="~{fragments/logintabs :: content(tab_id = 'mobile-id', instruction = 'instruction-check', static = true)}"
                     th:remove="tag">
                    <form id="midAuthenticationCheckForm" method="post" th:action="@{/auth/mid/poll/cancel}"
                          class="c-form" layout:fragment="login-form-content">
                        <p th:text="#{label.common.control-code}">Control code:</p>
                        <p class="control-code" th:text="${mobileIdVerificationCode}"></p>
                        <button type="submit" class="c-btn c-btn--cancel"
                                th:text="#{label.common.cancel}">Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="mid-error" th:insert="~{fragments/error}" th:class="hidden" />
    <p class="link-back-mobile" xmlns:th="http://www.w3.org/1999/xhtml">
        <a th:href="${@thymeleafSupport.getHomeUrl()}" th:text="#{label.common.home}">Home</a>
    </p>
    <script th:src="@{/scripts/form-check.js}" defer></script>
    <script th:src="@{/scripts/main.js}" defer></script>
</div>
</body>
</html>
