<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:lang="${#locale.language}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" th:with="hideHeaderLanguageSelection=true, ariaHideLogoHeader=true">
<head th:replace="~{fragments/head}"></head>
<body class="is-mobile-subview">
<th:block layout:fragment="content" th:with="hideHeaderLanguageSelection=true">
    <div class="container">
        <div class="c-tab-login">
            <div class="c-tab-login__header hide-in-desktop">
                <ul class="c-tab-login__nav" role="tablist">
                    <li th:replace="~{fragments/logintabs :: nav_default(tab_id = 'smart-id', static = true)}"></li>
                </ul>
            </div>
            <div class="c-tab-login__main">
                <th:block layout:insert="~{fragments/logintabs :: content(tab_id = 'smart-id', static = true)}">
                    <th:block layout:fragment="login-form-content">
                        <div class="c-tab-login__qr-code-card">
                            <p>
                                <th:block th:utext="#{message.smart-id.qr-code.instructions}"></th:block>
                                <br/>
                                <a th:text="#{label.smart-id.qr-code.instructions.learn-more}"
                                   th:href="#{link.smart-id.qr-code.instructions.learn-more}"></a>
                            </p>
                            <div>
                                <div id="sidQrCode" class="c-tab-login__qr-code">
                                    <div class="loadersmall"></div>
                                </div>
                            </div>
                            <p th:utext="#{message.smart-id.qr-code.troubleshooting}"></p>
                            <button type="submit" class="c-btn c-btn--cancel" form="cancelForm"
                                    th:text="#{label.common.cancel}"></button>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>

    <form id="cancelForm" method="post" th:action="@{/auth/sid/qr-code/cancel}"></form>
    <div id="sid-error" th:insert="~{fragments/error}" th:class="hidden"/>
    <p class="link-back-mobile" xmlns:th="http://www.w3.org/1999/xhtml">
        <a th:href="${@thymeleafSupport.getHomeUrl()}" th:text="#{label.common.home}">Home</a>
    </p>
    <script th:src="@{/scripts/main.js}" defer></script>
    <script th:src="@{/scripts/sid-qr-code.js}" defer></script>
</th:block>
</body>
</html>
