<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" th:lang="${#locale.language}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" th:with="hideHeaderLanguageSelection=true, ariaHideLogoHeader=true">
<head th:replace="~{fragments/head}"></head>
<body class="is-mobile-subview"
      th:attr="data-sid-web2app-poll-interval=${@environment.getProperty('tara.auth-methods.smart-id.web2app.frontend-polling-interval-in-milliseconds')}">
<div layout:fragment="content" th:with="hideHeaderLanguageSelection=true" th:remove="tag">
    <div class="container">
        <div class="c-tab-login">
            <div class="c-tab-login__header hide-in-desktop">
                <ul class="c-tab-login__nav" role="tablist">
                    <li th:replace="~{fragments/logintabs :: nav_default(tab_id = 'smart-id', static = true)}"></li>
                </ul>
            </div>
            <div class="c-tab-login__main">
                <th:block layout:insert="~{fragments/logintabs :: content(tab_id = 'smart-id', static = true)}">
                    <th:block layout:fragment="login-form-content">
                        <p th:utext="#{label.smart-id.wait-login}"></p>
                        <form method="post" th:action="@{/auth/sid/web2app/callback/poll/cancel}" class="c-form">
                            <button type="submit" class="c-btn c-btn--cancel" th:text="#{label.common.cancel}">Cancel</button>
                        </form>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>
    <div id="sid-error" th:insert="~{fragments/error}" th:class="hidden"/>
    <p class="link-back-mobile" xmlns:th="http://www.w3.org/1999/xhtml">
        <a rel="noopener" th:href="${@thymeleafSupport.getHomeUrl()}" th:text="#{label.common.home}">Home</a>
    </p>
    <script th:src="@{/scripts/sid-web2app-callback-poll.js}" defer></script>
    <script th:src="@{/scripts/main.js}" defer></script>
</div>
</body>
</html>
